.select-panel-button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: var(--borderWidth-thin, 0.0625rem) solid;
  border-color: var(--button-default-borderColor-rest, #d1d9e0);
  border-radius: var(--borderRadius-medium, 0.375rem);
  color: var(--button-default-fgColor-rest, #25292e);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: var(--text-body-size-medium, 0.875rem);
  font-weight: var(--base-text-weight-medium, 500);
  gap: var(--base-size-8, 0.5rem);
  height: var(--control-medium-size, 2rem);
  justify-content: space-between;
  min-width: max-content;
  padding: 0 var(--control-medium-paddingInline-normal, 0.75rem);
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
  transition-property: color, fill, background-color, border-color;
  -webkit-user-select: none;
  user-select: none;
}
.select-panel-button:has([data-kbd-chord]) {
  padding-inline-end: var(--base-size-6, 0.375rem);
}
.select-panel-button:hover {
  transition-duration: 80ms;
}
.select-panel-button:focus-visible {
  box-shadow: none;
  outline: 2px solid var(--focus-outline-color, var(--focus-outlineColor, #0969da));
  outline-offset: -2px;
}
.select-panel-button:active {
  transition: none;
}
.select-panel-button:where(
    [data-notification-indicator="button"],
    [data-notification-indicator="icon"].select-panel-button__icon-button
  ) {
  position: relative;
}
.select-panel-button:where([data-notification-indicator="leadingVisual"])
  .select-panel-button__leading-visual {
  position: relative;
}
.select-panel-button:where([data-notification-indicator="button"]):before,
.select-panel-button:where(
    [data-notification-indicator="icon"].select-panel-button__icon-button
  ):before,
.select-panel-button:where([data-notification-indicator="leadingVisual"])
  .select-panel-button__leading-visual:before {
  background-color: var(--fgColor-accent, #0969da);
  border-radius: var(--borderRadius-full, 624.9375rem);
  box-shadow: 0 0 0 calc(var(--base-size-4, 0.25rem) / 2) var(--bgColor-inset, #f6f8fa);
  content: "";
  display: block;
  height: var(--base-size-8, 0.5rem);
  position: absolute;
  width: var(--base-size-8, 0.5rem);
}
.select-panel-button:where([data-notification-indicator="button"]):before {
  right: calc(var(--base-size-4, 0.25rem) / -2);
  top: calc(var(--base-size-4, 0.25rem) / -2);
}
.select-panel-button:where(
    [data-notification-indicator="icon"].select-panel-button__icon-button
  ):before {
  right: calc(50% - var(--base-size-12, 0.75rem));
  top: calc(50% - var(--base-size-12, 0.75rem));
}
.select-panel-button:where([data-notification-indicator="leadingVisual"])
  .select-panel-button__leading-visual:before {
  right: calc(var(--base-size-4, 0.25rem) * -1);
  top: calc(var(--base-size-4, 0.25rem) * -1);
}
.select-panel-button:disabled,
.select-panel-button[aria-disabled="true"]:not([data-loading="true"]) {
  box-shadow: none;
  cursor: not-allowed;
}
.select-panel-button:disabled .select-panel-button__counter-label,
.select-panel-button:disabled .select-panel-button__visual,
.select-panel-button[aria-disabled="true"]:not([data-loading="true"])
  .select-panel-button__counter-label,
.select-panel-button[aria-disabled="true"]:not([data-loading="true"])
  .select-panel-button__visual {
  color: inherit;
}
@media (forced-colors: active) {
  .select-panel-button:focus {
    outline: 1px solid transparent;
  }
}
.select-panel-button :where(.select-panel-button__visual) {
  color: var(--fgColor-muted, #59636e);
  display: flex;
  pointer-events: none;
}
.select-panel-button :where(.select-panel-button__visual-wrap) {
  display: flex;
  pointer-events: none;
}
.select-panel-button:where(.select-panel-button__icon-button) {
  display: inline-grid;
  flex-shrink: 0;
  min-width: unset;
  padding: unset;
  place-content: center;
  width: var(--control-medium-size, 2rem);
}
.select-panel-button:where(.select-panel-button__icon-button):where(
    [data-size="small"]
  ) {
  width: var(--control-small-size, 1.75rem);
}
.select-panel-button:where(.select-panel-button__icon-button):where(
    [data-size="large"]
  ) {
  width: var(--control-large-size, 2.5rem);
}
.select-panel-button:where([href]) {
  display: inline-flex;
}
.select-panel-button:where([href]):hover {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.select-panel-button :where(.select-panel-button__button-content) {
  align-content: center;
  align-items: center;
  display: grid;
  flex: 1 0 auto;
  grid-template-areas: "leadingVisual text trailingVisual";
  grid-template-columns: min-content minmax(0, auto) min-content;
}
.select-panel-button
  :where(.select-panel-button__button-content)
  > :not(:last-child) {
  margin-right: var(--base-size-8, 0.5rem);
}
.select-panel-button
  :where(.select-panel-button__button-content):where([data-align="center"]) {
  justify-content: center;
}
.select-panel-button
  :where(.select-panel-button__button-content):where([data-align="start"]) {
  justify-content: flex-start;
}
.select-panel-button :where([data-component="leadingVisual"]) {
  grid-area: leadingVisual;
}
.select-panel-button :where(.select-panel-button__label) {
  grid-area: text;
  line-height: var(--text-body-lineHeight-medium, 1.5);
  white-space: nowrap;
}
.select-panel-button :where([data-component="trailingVisual"]) {
  grid-area: trailingVisual;
}
.select-panel-button :where([data-component="trailingAction"]) {
  margin-right: calc(var(--base-size-4, 0.25rem) * -1);
}
.select-panel-button:where([data-size="small"]) {
  font-size: var(--text-body-size-small, 0.75rem);
  gap: var(--control-small-gap, 0.25rem);
  height: var(--control-small-size, 1.75rem);
  padding: 0 var(--control-small-paddingInline-condensed, 0.5rem);
}
.select-panel-button:where([data-size="small"])
  .select-panel-button__button-content
  > :not(:last-child) {
  margin-right: var(--control-small-gap, 0.25rem);
}
.select-panel-button:where([data-size="small"]) .select-panel-button__label {
  line-height: var(--text-body-lineHeight-small, 1.625);
}
.select-panel-button:where([data-size="large"]) {
  gap: var(--control-large-gap, 0.5rem);
  height: var(--control-large-size, 2.5rem);
  padding: 0 var(--control-large-paddingInline-spacious, 1rem);
}
.select-panel-button:where([data-size="large"])
  .select-panel-button__button-content
  > :not(:last-child) {
  margin-right: var(--control-large-gap, 0.5rem);
}
.select-panel-button:where([data-size="large"]):has([data-kbd-chord]) {
  padding-inline-end: var(--base-size-8, 0.5rem);
}
.select-panel-button:where([data-block="block"]) {
  width: 100%;
}
.select-panel-button:where([data-label-wrap="true"]) {
  height: unset;
  min-height: var(--control-medium-size, 2rem);
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.select-panel-button:where([data-label-wrap="true"])
  .select-panel-button__button-content {
  align-self: stretch;
  flex: 1 1 auto;
  padding-block: calc(
    var(--control-medium-paddingBlock, 0.375rem) - var(--base-size-2, 0.125rem)
  );
}
.select-panel-button:where([data-label-wrap="true"])
  .select-panel-button__label {
  white-space: unset;
  word-break: break-word;
}
.select-panel-button:where([data-label-wrap="true"]):where(
    [data-size="small"]
  ) {
  height: unset;
  min-height: var(--control-small-size, 1.75rem);
}
.select-panel-button:where([data-label-wrap="true"]):where([data-size="small"])
  .select-panel-button__button-content {
  padding-block: calc(
    var(--control-small-paddingBlock, 0.25rem) - var(--base-size-2, 0.125rem)
  );
}
.select-panel-button:where([data-label-wrap="true"]):where(
    [data-size="large"]
  ) {
  height: unset;
  min-height: var(--control-large-size, 2.5rem);
  padding-inline: var(--control-large-paddingInline-spacious, 1rem);
}
.select-panel-button:where([data-label-wrap="true"]):where([data-size="large"])
  .select-panel-button__button-content {
  padding-block: calc(
    var(--control-large-paddingBlock, 0.625rem) - var(--base-size-2, 0.125rem)
  );
}
.select-panel-button:where([data-loading="true"])
  .select-panel-button__loading-spinner:not(
    [data-component="leadingVisual"],
    [data-component="trailingVisual"],
    [data-component="trailingAction"]
  ) {
  grid-area: text;
  margin-right: 0 !important;
  place-self: center;
}
.select-panel-button:where([data-loading="true"])
  .select-panel-button__loading-spinner:not(
    [data-component="leadingVisual"],
    [data-component="trailingVisual"],
    [data-component="trailingAction"]
  )
  + .select-panel-button__label {
  visibility: hidden;
}
.select-panel-button .select-panel-button__loading-spinner {
  align-items: center;
  display: flex;
  justify-content: center;
}
.select-panel-button:where([data-variant="default"]) {
  background-color: var(--button-default-bgColor-rest, #f6f8fa);
  box-shadow: var(--button-default-shadow-resting, 0 1px 0 0 #1f23280a);
  color: var(--button-default-fgColor-rest, #25292e);
}
.select-panel-button[aria-expanded="true"]:where([data-variant="default"]) {
  background-color: var(--button-default-bgColor-active, #e6eaef);
  border-color: var(--button-default-borderColor-active, #d1d9e0);
}
.select-panel-button:where([data-variant="default"]):hover {
  background-color: var(--button-default-bgColor-hover, #eff2f5);
  border-color: var(--button-default-borderColor-hover, #d1d9e0);
}
.select-panel-button:where([data-variant="default"]):active {
  background-color: var(--button-default-bgColor-active, #e6eaef);
  border-color: var(--button-default-borderColor-active, #d1d9e0);
}
.select-panel-button:where([data-variant="default"]):disabled,
.select-panel-button[aria-disabled="true"]:where([data-variant="default"]):not(
    [data-loading="true"]
  ) {
  background-color: var(--button-default-bgColor-disabled, #eff2f5);
  border-color: var(--button-default-borderColor-disabled, #818b981a);
  box-shadow: none;
  color: var(--control-fgColor-disabled, #818b98);
}
.select-panel-button:where([data-variant="default"]):disabled [data-kbd-chord] {
  background: var(--buttonKeybindingHint-default-bgColor-disabled, #eff2f5);
  border-color: var(--buttonKeybindingHint-default-borderColor-disabled, #818b981a);
  color: var(--buttonKeybindingHint-default-fgColor-disabled, #818b98);
}
.select-panel-button[aria-disabled="true"]:where([data-variant="default"]):not(
    [data-loading="true"]
  )
  [data-kbd-chord] {
  background: var(--buttonKeybindingHint-default-bgColor-disabled, #eff2f5);
  border-color: var(--buttonKeybindingHint-default-borderColor-disabled, #818b981a);
  color: var(--buttonKeybindingHint-default-fgColor-disabled, #818b98);
}
.select-panel-button:where([data-variant="default"])
  .select-panel-button__counter-label {
  background-color: var(--buttonCounter-default-bgColor-rest, #818b981f) !important;
}
.select-panel-button:where([data-variant="default"]) [data-kbd-chord] {
  background: var(--buttonKeybindingHint-default-bgColor-rest, #eff2f5);
  border-color: var(--buttonKeybindingHint-default-borderColor-rest, #d1d9e0b3);
  color: var(--buttonKeybindingHint-default-fgColor-rest, #59636e);
}
.select-panel-button:where([data-variant="default"]):where(
    .select-panel-button__icon-button
  ) {
  color: var(--fgColor-muted, #59636e);
}
.select-panel-button:where([data-variant="primary"]) {
  background-color: var(--button-primary-bgColor-rest, #1f883d);
  border-color: var(--button-primary-borderColor-rest, #1f232826);
  box-shadow: var(--shadow-resting-small, 0 1px 1px 0 #1f23280a, 0 1px 2px 0 #1f232808);
  color: var(--button-primary-fgColor-rest, #ffffff);
}
.select-panel-button[aria-expanded="true"]:where([data-variant="primary"]) {
  background-color: var(--button-primary-bgColor-active, #197935);
  box-shadow: var(--button-primary-shadow-selected, inset 0 1px 0 0 #002d114d);
}
.select-panel-button:where([data-variant="primary"]):hover {
  background-color: var(--button-primary-bgColor-hover, #1c8139);
  border-color: var(--button-primary-borderColor-hover, #1f232826);
}
.select-panel-button:where([data-variant="primary"]):focus-visible {
  box-shadow: inset 0 0 0 3px var(--fgColor-onEmphasis, #ffffff);
  outline: 2px solid var(--focus-outline-color, var(--focus-outlineColor, #0969da));
  outline-offset: -2px;
}
.select-panel-button:where([data-variant="primary"]):active {
  background-color: var(--button-primary-bgColor-active, #197935);
  box-shadow: var(--button-primary-shadow-selected, inset 0 1px 0 0 #002d114d);
}
.select-panel-button:where([data-variant="primary"]):disabled,
.select-panel-button[aria-disabled="true"]:where([data-variant="primary"]):not(
    [data-loading="true"]
  ) {
  background-color: var(--button-primary-bgColor-disabled, #95d8a6);
  border-color: var(--button-primary-borderColor-disabled, #95d8a6);
  box-shadow: none;
  color: var(--button-primary-fgColor-disabled, #ffffffcc);
}
.select-panel-button:where([data-variant="primary"]):disabled [data-kbd-chord] {
  background: var(--buttonKeybindingHint-primary-bgColor-disabled, #002d111a);
  border-color: var(--buttonKeybindingHint-primary-borderColor-disabled, #818b981a);
  color: var(--buttonKeybindingHint-primary-fgColor-disabled, #ffffffcc);
}
.select-panel-button[aria-disabled="true"]:where([data-variant="primary"]):not(
    [data-loading="true"]
  )
  [data-kbd-chord] {
  background: var(--buttonKeybindingHint-primary-bgColor-disabled, #002d111a);
  border-color: var(--buttonKeybindingHint-primary-borderColor-disabled, #818b981a);
  color: var(--buttonKeybindingHint-primary-fgColor-disabled, #ffffffcc);
}
.select-panel-button:where([data-variant="primary"])
  .select-panel-button__counter-label {
  background-color: var(--buttonCounter-primary-bgColor-rest, #002d1133) !important;
  color: var(--button-primary-fgColor-rest, #ffffff) !important;
}
.select-panel-button:where([data-variant="primary"]) [data-kbd-chord] {
  background: var(--buttonKeybindingHint-primary-bgColor-rest, #002d1133);
  border-color: var(--buttonKeybindingHint-primary-borderColor-rest, #1f232826);
  color: var(--buttonKeybindingHint-primary-fgColor-rest, #ffffff);
}
.select-panel-button:where([data-variant="primary"])
  .select-panel-button__visual {
  color: var(--button-primary-fgColor-rest, #ffffff);
}
.select-panel-button:where([data-variant="danger"]) {
  background-color: var(--button-danger-bgColor-rest, #f6f8fa);
  box-shadow: var(--button-default-shadow-resting, 0 1px 0 0 #1f23280a);
  color: var(--button-danger-fgColor-rest, #d1242f);
}
.select-panel-button[aria-expanded="true"]:where([data-variant="danger"]) {
  background-color: var(--button-danger-bgColor-active, #a40e26);
  border-color: var(--button-danger-borderColor-active, #1f232826);
  box-shadow: var(--button-danger-shadow-selected, inset 0 1px 0 0 #4c001433);
  color: var(--button-danger-fgColor-active, #ffffff);
}
.select-panel-button[aria-expanded="true"]:where([data-variant="danger"])
  .select-panel-button__visual {
  color: var(--button-danger-iconColor-hover, #ffffff);
}
.select-panel-button:where([data-variant="danger"]):hover {
  background-color: var(--button-danger-bgColor-hover, #cf222e);
  border-color: var(--button-danger-borderColor-hover, #1f232826);
  box-shadow: var(--shadow-resting-small, 0 1px 1px 0 #1f23280a, 0 1px 2px 0 #1f232808);
  color: var(--button-danger-fgColor-hover, #ffffff);
}
.select-panel-button:where([data-variant="danger"]):hover
  .select-panel-button__counter-label {
  background-color: var(--buttonCounter-danger-bgColor-hover, #ffffff33) !important;
  color: var(--buttonCounter-danger-fgColor-hover, #ffffff) !important;
}
.select-panel-button:where([data-variant="danger"]):hover [data-kbd-chord] {
  background: var(--buttonKeybindingHint-danger-bgColor-hover, #1f232833);
  border-color: var(--buttonKeybindingHint-danger-borderColor-hover, #1f232826);
  color: var(--buttonKeybindingHint-danger-fgColor-hover, #ffffff);
  transition: 80ms ease-out;
}
.select-panel-button:where([data-variant="danger"]):hover
  .select-panel-button__visual {
  color: var(--button-danger-iconColor-hover, #ffffff);
}
.select-panel-button:where([data-variant="danger"]):active {
  background-color: var(--button-danger-bgColor-active, #a40e26);
  border-color: var(--button-danger-borderColor-active, #1f232826);
  box-shadow: var(--button-danger-shadow-selected, inset 0 1px 0 0 #4c001433);
  color: var(--button-danger-fgColor-active, #ffffff);
}
.select-panel-button:where([data-variant="danger"]):active
  .select-panel-button__counter-label {
  background-color: var(--buttonCounter-danger-bgColor-hover, #ffffff33) !important;
  color: var(--buttonCounter-danger-fgColor-hover, #ffffff) !important;
}
.select-panel-button:where([data-variant="danger"]):active [data-kbd-chord] {
  background: var(--buttonKeybindingHint-danger-bgColor-active, #1f232866);
  border-color: var(--buttonKeybindingHint-danger-borderColor-active, #1f232826);
  color: var(--buttonKeybindingHint-danger-fgColor-active, #ffffff);
  transition: 80ms ease-out;
}
.select-panel-button:where([data-variant="danger"]):active
  .select-panel-button__visual {
  color: var(--button-danger-iconColor-hover, #ffffff);
}
.select-panel-button:where([data-variant="danger"]):disabled,
.select-panel-button[aria-disabled="true"]:where([data-variant="danger"]):not(
    [data-loading="true"]
  ) {
  background-color: var(--button-danger-bgColor-disabled, #eff2f5);
  border-color: var(--button-default-borderColor-disabled, #818b981a);
  box-shadow: none;
  color: var(--button-danger-fgColor-disabled, #d1242f80);
}
.select-panel-button:where([data-variant="danger"]):disabled
  .select-panel-button__counter-label {
  background-color: var(--buttonCounter-danger-bgColor-disabled, #cf222e0d) !important;
  color: var(--buttonCounter-danger-fgColor-disabled, #d1242f80) !important;
}
.select-panel-button[aria-disabled="true"]:where([data-variant="danger"]):not(
    [data-loading="true"]
  )
  .select-panel-button__counter-label {
  background-color: var(--buttonCounter-danger-bgColor-disabled, #cf222e0d) !important;
  color: var(--buttonCounter-danger-fgColor-disabled, #d1242f80) !important;
}
.select-panel-button:where([data-variant="danger"]):disabled [data-kbd-chord] {
  background: var(--buttonKeybindingHint-danger-bgColor-disabled, #eff2f5);
  border-color: var(--buttonKeybindingHint-danger-borderColor-disabled, #818b981a);
  color: var(--buttonKeybindingHint-danger-fgColor-disabled, #818b98);
}
.select-panel-button[aria-disabled="true"]:where([data-variant="danger"]):not(
    [data-loading="true"]
  )
  [data-kbd-chord] {
  background: var(--buttonKeybindingHint-danger-bgColor-disabled, #eff2f5);
  border-color: var(--buttonKeybindingHint-danger-borderColor-disabled, #818b981a);
  color: var(--buttonKeybindingHint-danger-fgColor-disabled, #818b98);
}
.select-panel-button:where([data-variant="danger"])
  .select-panel-button__counter-label {
  background-color: var(--buttonCounter-danger-bgColor-rest, #cf222e1a) !important;
  color: var(--buttonCounter-danger-fgColor-rest, #c21c2c) !important;
}
.select-panel-button:where([data-variant="danger"]) [data-kbd-chord] {
  background: var(--buttonKeybindingHint-danger-bgColor-rest, #eff2f5);
  border-color: var(--buttonKeybindingHint-danger-borderColor-rest, #d1d9e0b3);
  color: var(--buttonKeybindingHint-danger-fgColor-rest, #59636e);
}
.select-panel-button:where([data-variant="danger"])
  .select-panel-button__visual {
  color: var(--button-danger-iconColor-rest, #d1242f);
}
.select-panel-button:where([data-variant="invisible"]) {
  border-color: var(--button-invisible-borderColor-rest, #ffffff00);
  box-shadow: none;
  color: var(--button-default-fgColor-rest, #25292e);
}
.select-panel-button[aria-expanded="true"]:where([data-variant="invisible"]) {
  background-color: var(--button-invisible-bgColor-active, #818b9826);
}
.select-panel-button:where([data-variant="invisible"]):hover {
  background-color: var(--button-invisible-bgColor-hover, #818b981a);
  border-color: var(--button-invisible-borderColor-hover, #ffffff00);
}
.select-panel-button:where([data-variant="invisible"]):hover
  .select-panel-button__visual {
  color: var(--button-invisible-iconColor-hover, #59636e);
}
.select-panel-button:where([data-variant="invisible"]):hover [data-kbd-chord] {
  background: var(--buttonKeybindingHint-invisible-bgColor-hover, #818b981a);
  transition: 80ms ease-out;
}
.select-panel-button:where([data-variant="invisible"]):active {
  background-color: var(--button-invisible-bgColor-active, #818b9826);
}
.select-panel-button:where([data-variant="invisible"]):active
  .select-panel-button__visual {
  color: var(--button-invisible-iconColor-hover, #59636e);
}
.select-panel-button:where([data-variant="invisible"]):active [data-kbd-chord] {
  background: var(--buttonKeybindingHint-invisible-bgColor-active, #818b9826);
  transition: 80ms ease-out;
}
.select-panel-button:where([data-variant="invisible"]):disabled,
.select-panel-button[aria-disabled="true"]:where(
    [data-variant="invisible"]
  ):not([data-loading="true"]) {
  background-color: var(--button-invisible-bgColor-disabled, #ffffff00);
  border-color: var(--button-invisible-borderColor-disabled, #ffffff00);
  box-shadow: none;
  color: var(--button-invisible-fgColor-disabled, #818b98);
}
.select-panel-button:where([data-variant="invisible"]):disabled
  [data-kbd-chord] {
  background: var(--buttonKeybindingHint-invisible-bgColor-disabled, #ffffff00);
  border-color: var(--buttonKeybindingHint-invisible-borderColor-disabled, #818b981a);
  color: var(--buttonKeybindingHint-invisible-fgColor-disabled, #818b98);
}
.select-panel-button[aria-disabled="true"]:where(
    [data-variant="invisible"]
  ):not([data-loading="true"])
  [data-kbd-chord] {
  background: var(--buttonKeybindingHint-invisible-bgColor-disabled, #ffffff00);
  border-color: var(--buttonKeybindingHint-invisible-borderColor-disabled, #818b981a);
  color: var(--buttonKeybindingHint-invisible-fgColor-disabled, #818b98);
}
.select-panel-button:where([data-variant="invisible"])
  .select-panel-button__visual {
  color: var(--button-invisible-iconColor-rest, #59636e);
}
.select-panel-button:where([data-variant="invisible"])
  .select-panel-button__counter-label {
  background-color: var(--buttonCounter-invisible-bgColor-rest, #818b981f) !important;
}
.select-panel-button:where([data-variant="invisible"]) [data-kbd-chord] {
  background: var(--buttonKeybindingHint-invisible-bgColor-rest, #eff2f5);
  border-color: var(--buttonKeybindingHint-invisible-borderColor-rest, #ffffff00);
  color: var(--buttonKeybindingHint-invisible-fgColor-rest, #59636e);
}
.select-panel-button:where([data-variant="invisible"]):where(
    .select-panel-button__icon-button
  ) {
  color: var(--button-invisible-iconColor-rest, #59636e);
}
.select-panel-button:where([data-variant="link"]) {
  border: unset;
  border-radius: 0;
  color: var(--fgColor-link, #0969da);
  display: inline-flex;
  font-size: inherit;
  height: unset;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0;
  text-align: left;
}
.select-panel-button:where([data-variant="link"]):where(
    [data-no-visuals]:hover:not(
        :disabled,
        [aria-disabled="true"],
        [data-inactive]
      )
  ) {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.select-panel-button:where([data-variant="link"]):where(
    :not([data-no-visuals]):hover:not(
        :disabled,
        [aria-disabled="true"],
        [data-inactive]
      )
  )
  .select-panel-button__label {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.select-panel-button:where([data-variant="link"]):focus,
.select-panel-button:where([data-variant="link"]):focus-visible {
  outline-offset: 2px;
}
.select-panel-button:where([data-variant="link"]):disabled,
.select-panel-button[aria-disabled="true"]:where([data-variant="link"]):not(
    [data-loading="true"]
  ) {
  background-color: transparent;
  border-color: transparent;
  color: var(--control-fgColor-disabled, #818b98);
}
.select-panel-button:where([data-variant="link"]) .select-panel-button__label {
  white-space: unset;
}
.select-panel-button:where([data-variant="link"]):not([data-no-visuals])
  .select-panel-button__label {
  text-underline-offset: 0.125rem;
}
.select-panel-button:where([data-variant="link"]):where([data-inactive]) {
  background: transparent !important;
  color: var(--button-inactive-fgColor, #59636e);
}
.select-panel-button:where([data-variant="link"]) .select-panel-button__visual {
  color: var(--fgColor-link, #0969da);
}
[data-a11y-link-underlines="true"]
  .select-panel-button[data-no-visuals]:where([data-variant="link"]) {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
[data-a11y-link-underlines="true"]
  .select-panel-button[data-no-visuals]:where([data-variant="link"]):where(
    :hover:not([aria-disabled="true"], [data-inactive], :disabled)
  ) {
  -webkit-text-decoration: none;
  text-decoration: none;
}
[data-a11y-link-underlines="true"]
  .select-panel-button:where([data-variant="link"]):not([data-no-visuals])
  .select-panel-button__label {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
[data-a11y-link-underlines="true"]
  .select-panel-button:where([data-variant="link"]):not(
    [data-no-visuals]
  ):where(:hover:not([aria-disabled="true"], [data-inactive], :disabled))
  .select-panel-button__label {
  -webkit-text-decoration: none;
  text-decoration: none;
}
[data-a11y-link-underlines="false"]
  .select-panel-button[data-no-visuals]:where([data-variant="link"]) {
  background-image: none;
  -webkit-text-decoration: none;
  text-decoration: none;
}
[data-a11y-link-underlines="false"]
  .select-panel-button[data-no-visuals]:where([data-variant="link"]):where(
    :hover:not([aria-disabled="true"], [data-inactive], :disabled)
  ) {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
[data-a11y-link-underlines="false"]
  .select-panel-button:where([data-variant="link"]):not([data-no-visuals]) {
  background-image: none;
}
[data-a11y-link-underlines="false"]
  .select-panel-button:where([data-variant="link"]):not([data-no-visuals])
  .select-panel-button__label {
  -webkit-text-decoration: none;
  text-decoration: none;
}
[data-a11y-link-underlines="false"]
  .select-panel-button:where([data-variant="link"]):not(
    [data-no-visuals]
  ):where(:hover:not([aria-disabled="true"], [data-inactive], :disabled))
  .select-panel-button__label {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.select-panel-button:where([data-inactive]),
.select-panel-button:where([data-inactive]):active,
.select-panel-button:where([data-inactive]):hover {
  background-color: var(--button-inactive-bgColor, #e6eaef);
  border-color: var(--button-inactive-bgColor, #e6eaef);
  box-shadow: none;
  color: var(--button-inactive-fgColor, #59636e);
  cursor: auto;
}
.select-panel-button:where([data-inactive]) .select-panel-button__visual {
  color: inherit !important;
}
.select-panel-button:where([data-inactive]):hover .select-panel-button__visual {
  color: inherit !important;
}
.select-panel-button:where([data-inactive]):active
  .select-panel-button__visual {
  color: inherit !important;
}
.select-panel-button:where([data-inactive])
  .select-panel-button__counter-label {
  color: inherit !important;
}
.select-panel-button:where([data-inactive]):hover
  .select-panel-button__counter-label {
  color: inherit !important;
}
.select-panel-button:where([data-inactive]):active
  .select-panel-button__counter-label {
  color: inherit !important;
}
.select-panel-button:where([data-inactive]) [data-kbd-chord] {
  background: var(--buttonKeybindingHint-inactive-bgColor, #eff2f5);
  border-color: var(--buttonKeybindingHint-inactive-borderColor, #d1d9e0b3);
  color: var(--buttonKeybindingHint-inactive-fgColor, #59636e);
}
.select-panel-button:where([data-inactive]):hover [data-kbd-chord] {
  background: var(--buttonKeybindingHint-inactive-bgColor, #eff2f5);
  border-color: var(--buttonKeybindingHint-inactive-borderColor, #d1d9e0b3);
  color: var(--buttonKeybindingHint-inactive-fgColor, #59636e);
}
.select-panel-button:where([data-inactive]):active [data-kbd-chord] {
  background: var(--buttonKeybindingHint-inactive-bgColor, #eff2f5);
  border-color: var(--buttonKeybindingHint-inactive-borderColor, #d1d9e0b3);
  color: var(--buttonKeybindingHint-inactive-fgColor, #59636e);
}
.select-panel-button:where([data-icon-only-counter]) {
  padding-inline: var(--control-medium-paddingInline-condensed, 0.5rem);
}
.select-panel-button:where([data-icon-only-counter]):where(
    [data-size="small"]
  ) {
  padding-inline: var(--control-xsmall-paddingInline-condensed, 0.25rem);
}
.select-panel-button:where([data-icon-only-counter]):where(
    [data-size="large"]
  ) {
  padding-inline: var(--control-large-paddingInline-normal, 0.75rem);
}
.select-panel-button__conditional-wrapper {
  display: block;
}
.select-panel-button__conditional-wrapper-link {
  display: inline-flex;
}
[data-kbd-chord] {
  transition: 80ms ease-in;
  transition-property: color, background-color, border-color;
}

.select-panel-button svg[data-octicon] {
  overflow: visible;
  display: inline-block;
  vertical-align: text-bottom;
}
