.anchored-overlay__close-container { position: relative; }
.anchored-overlay__close-container :global(.anchored-overlay__close) { position: absolute; top: var(--base-size-8, 8px); right: var(--base-size-8, 8px); display: none; }
@media screen and (max-width: calc(768px - 0.02px)) { .anchored-overlay__close-container :global(.anchored-overlay__close) { display: inline-grid; } }
