.radio-group__body {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;

  & > * + * {
    margin-top: var(--base-size-8, 8px);
  }
}

.radio-group__fieldset {
  padding: 0;
  margin: 0;
  border: none;

  &:where([data-validation]) {
    margin-bottom: var(--base-size-8, 8px);
  }
}

.radio-group__legend {
  padding: 0;

  &:where([data-legend-visible]) {
    margin-bottom: var(--base-size-8, 8px);
  }
}

.radio-group__caption {
  font-size: var(--text-body-size-medium, 14px);
  color: var(--fgColor-muted, #59636e);
}

.radio-group__label {
  display: block;
  font-size: var(--text-body-size-medium, 14px);
  font-weight: var(--base-text-weight-semibold, 600);

  &:where([data-label-disabled]) {
    color: var(--fgColor-muted, #59636e);
  }
}

.radio-group__label-children {
  margin-right: var(--base-size-8, 8px);
}

.radio-group__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  /* stylelint-disable-next-line primer/spacing */
  margin: -1px;
  overflow: hidden;
  /* stylelint-disable-next-line property-no-deprecated */
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.radio-group__validation {
  display: flex;
  font-size: var(--text-body-size-small, 12px);
  font-weight: var(--base-text-weight-semibold, 600);
  /* stylelint-disable-next-line primer/colors */
  color: var(--inputValidation-fgColor, var(--fgColor-danger, #d1242f));

  & :where(a) {
    color: currentColor;
    text-decoration: underline;
  }

  &:where([data-validation-status='success']) {
    --inputValidation-fgColor: var(--fgColor-success, #1a7f37);
  }

  &:where([data-validation-status='error']) {
    --inputValidation-fgColor: var(--fgColor-danger, #d1242f);
  }
}

.radio-group__validation-icon {
  display: flex;
  margin-top: var(--base-size-2, 2px);
  margin-inline-end: var(--base-size-4, 4px);
  min-height: var(--inputValidation-iconSize, 16px);
}

.radio-group__validation-text {
  /* stylelint-disable-next-line primer/typography */
  line-height: var(--inputValidation-lineHeight, 1.3333333333333333);
}

.radio-group__animation:where([data-show]) {
  animation: 170ms radio-group-fade-in cubic-bezier(0.44, 0.74, 0.36, 1);

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

@keyframes radio-group-fade-in {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
