/* @import "tailwindcss"; */

:root {
  --header-height: 64px;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
}

code {
  background-color: #eee;
  border-radius: 3px;
  padding: 0 3px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
}
